* {
}
body {
  padding-bottom: 100px;
}
.container {
}

.row {
}

.footer-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 1000;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
}
